@import './base/__mixins.sass'
@import './base/__base.sass'

.app
	width: 100vw
	min-height: 100vh
	margin: 0
	padding: 0
	font-family: "Josefin Sans"
	font-size: 1.6rem
	@include flexbox(column, flex-start, center)

.header
	width: 100%
	@include flexbox(row, space-between, flex-start)
	margin: 4.8rem 0 4rem 0

	h1
		text-transform: uppercase
		color: white 
		font-weight: 700
		letter-spacing: 0.36em
		font-size: 2.8rem

	button
		border: none
		@include width-height(2.4rem,2.4rem)
		background: transparent
		background-image: url('../assets/images/icon-moon.svg')
		background-position: center
		background-size: cover
		cursor: pointer

.wrapper
	@include flexbox(column, flex-start, center)
	width: 32.7rem
	height: 100%

.input
	@include flexbox(row, flex-start, center)
	width: 100%
	background-color: white 
	border-radius: 0.6rem
	min-height: 4.8rem
	padding-left: 2rem

	input
		font-family: 'Josefin Sans'
		height: 100%
		border: none
		flex-grow: 1

		&:focus
			outline: none

.round-btn
	border-radius: 50%
	@include width-height(2rem,2rem)
	background: transparent
	border: 0.1rem solid black
	margin-right: 1.2rem
	cursor: pointer

.image-background
	@include set-position(absolute,0,0)
	@include width-height(100vw, 20rem)
	background-image: url("../assets/images/bg-mobile-light.jpg")
	background-position: center
	background-size: cover

.todoListContainer
	@include flexbox(column, space-between, center)
	width: 100%
	height: 100%
	background: white
	margin-top: 1.6rem
	border-radius: 0.6rem
	min-height: 36.8rem

.todoInfo
	@include width-height(100%, 5rem)
	@include flexbox(row, space-between, center)
	padding: 0 2rem 0 2rem
	border-top: 1px solid grey

	button
		border: none
		background: transparent

.todoList
	width: 100%

.todoItem
	@include flexbox(row, space-between, center)
	width: 100%
	min-height: 5rem
	padding: 0 2rem 0 2rem
	border-bottom: 0.1rem solid grey

	p 
		width: 24.1rem
		padding-right: 1rem
		text-align: start
		font-weight: 400
		overflow-wrap: break-word
			
	.remove-todo-btn
		@include width-height(1.4rem, 1.4rem)
		background-image: url('../assets/images/icon-cross.svg')
		background-position: center
		background-size: cover
		border: none
		background-color: transparent


.filterPanel
	@include width-height(100%, 4.8rem)
	@include flexbox(row, space-between,center)
	background-color: white 
	border-radius: 0.6rem
	margin-top: 1.6rem
	padding: 0 8rem 0 8rem

	button
		border: none
		background: transparent




